.dark-mode {

    filter: invert(100%);

     /* filter: invert(1) hue-rotate(180deg); */
}

.select2-results__option--highlighted{
    background-color: #9c27b0 !important;
}

.latter-space{
    letter-spacing: 1px;
}


.shadow-none{
    box-shadow: none !important;
}

.z-in{
    z-index: 1 !important;
}

.bg-grey{
    background-color: #eee !important;
}

.topFix{
    position: fixed;
    top: 105px;
    z-index: 1020;
}

.sidebar{
    box-shadow: none !important;
}
